<mat-toolbar color="accent" class="toolbar">
    <mat-toolbar-row>
        <div class="flex">
            <p class="ope" routerLink="/room">Listado</p>
            <p class="title">Habitaciones</p>
            <p class="ope" routerLink="/room/add">Agregar</p>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="flex-row">
    <div class="mat-elevation-z8 table">
        <table mat-table [dataSource]="dataSource">
    
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef><p class="header">Nro.</p></th>
            <td mat-cell *matCellDef="let element"><p style="text-align: center;">{{element.id}}</p></td>
            </ng-container>
    
            <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef><p class="header">Precio</p></th>
            <td mat-cell *matCellDef="let element"><p style="text-align: center;">{{element.price | currency}}</p></td>
            </ng-container>
            
            <ng-container matColumnDef="tv">
            <th mat-header-cell *matHeaderCellDef><p class="header">Tv</p></th>
            <td mat-cell *matCellDef="let element">
                <p style="text-align: center;" *ngIf="element.tv">Si</p>
                <p style="text-align: center;" *ngIf="!element.tv">No</p>
            </td>
            </ng-container>

            <ng-container matColumnDef="ac">
            <th mat-header-cell *matHeaderCellDef><p class="header">Aire</p></th>
            <td mat-cell *matCellDef="let element">
                <p style="text-align: center;" *ngIf="element.ac">Si</p>
                <p style="text-align: center;" *ngIf="!element.ac">No</p>
            </td>
            
            </ng-container>
            <ng-container matColumnDef="towel">
            <th mat-header-cell *matHeaderCellDef><p class="header">Toallas</p></th>
            <td mat-cell *matCellDef="let element">
                <p style="text-align: center;" *ngIf="element.towel">Si</p>
                <p style="text-align: center;" *ngIf="!element.towel">No</p>
            </td>
            </ng-container>
            
            <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef><p class="header">Tipo habitacion</p></th>
            <td mat-cell *matCellDef="let element"><p style="text-align: center;">{{element.type.name}}</p></td>
            </ng-container>
    
            <ng-container matColumnDef="operations">
            <th mat-header-cell *matHeaderCellDef><p class="header">Operaciones</p></th>
            <td mat-cell *matCellDef="let element">
                <div class="buttons">
                    <button mat-flat-button color="accent" routerLink="/room/edit/{{element.id}}">Editar <i class="fa-solid fa-pen-to-square"></i></button>
                    <button mat-flat-button color="warn" (click)="delete(element.id)">Eliminar <i class="fa-solid fa-trash"></i></button>
                    <button mat-flat-button color="primary" class="info" [routerLink]="['info', element.id]">Info <i class="fa-solid fa-circle-info info"></i></button>
                </div>
            </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5]"
                        showFirstLastButtons>
        </mat-paginator>
    </div>
</div>