<header class="header">
    <mat-toolbar color="primary">
        <i class="fa-solid fa-bars menu" (click)="toggleSideNav()" *ngIf="!user"></i>
        <h1 class="title" routerLink="/">Hotelmar</h1>
        <span class="example-spacer"></span>
        <div class="options">
            <ul class="list flex-row">
                <p class="welcome" *ngIf="login || token">Bienvenido {{surname}}, {{name}}!</p>
                <li class="hostel" *ngIf="login || token && user" routerLink="/booking">
                    <a>Hospedarse</a>
                    <i class="fa-solid fa-house"></i>
                </li>
                <li class="login" *ngIf="!login && !token" routerLink="/auth/login">
                    <a>Iniciar sesión</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li class="logout" *ngIf="login || token" (click)="logout()">
                    <a>Cerrar sesión</a>
                    <i class="fa-solid fa-right-from-bracket"></i>
                </li>
            </ul>
        </div>
    </mat-toolbar>      
</header>