<mat-toolbar color="accent" class="toolbar">
    <mat-toolbar-row>
        <div class="flex">
            <p class="ope" routerLink="/city">Listado</p>
            <p class="title">Ciudades</p>
            <p class="ope" routerLink="/city/add">Agregar</p>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="form">
    <form (ngSubmit)="onSubmit()" [formGroup]="edit">
    <mat-card-content>
        <mat-form-field class="input">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name" value="{{ name }}" autofocus>
            <mat-error *ngIf="edit.get('name')?.touched && edit.get('name').errors?.['required']">
                Nombre <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Pais</mat-label>
            <mat-select formControlName="countryId" (selectionChange)="onChange()">
              <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="edit.get('countryId')?.touched && edit.get('countryId').errors?.['required']">Pais <strong>requerido</strong></mat-error>
          </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Provincia</mat-label>
            <mat-select formControlName="provinceId">
              <mat-option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="edit.get('provinceId')?.touched && edit.get('provinceId').errors?.['required']">Pais <strong>requerido</strong></mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="actions">
            <button class="button" type="submit" mat-flat-button color="primary">Editar</button>
        </mat-card-actions>
    </form>
</mat-card>