<mat-toolbar color="accent" class="toolbar">
    <mat-toolbar-row>
        <div class="flex">
            <p class="ope" routerLink="/country">Listado</p>
            <p class="title">Paises</p>
            <p class="ope" routerLink="/country/add">Agregar</p>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="form">
    <form (ngSubmit)="onSubmit()" [formGroup]="add">
    <mat-card-content>
        <mat-form-field class="input">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="add.get('name')?.touched && add.get('name').errors?.['required']">
                Nombre <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="actions">
            <button class="button" type="submit" mat-flat-button color="primary" [disabled]="add.invalid">Agregar</button>
        </mat-card-actions>
    </form>
</mat-card>