@import "../../../shared/styles/vars.scss";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: $WARN;
    color: #fff;
    width: 50px;
    margin: 20px;

    p {
        margin-left: 4px;
    }
}

.button:hover {
    cursor: pointer;
    opacity: .8;
}

.card {
    width: 50%;
    margin: 20px auto;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.date, .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: $ACCENT;
    border-radius: 5px;
    color: #fff;
    
    h3 {
        font-weight: normal;
        text-decoration: underline;
    }

    p {
        text-align: center;
    }
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: $ACCENT;
    border-radius: 5px;
    color: #fff;

    h3 {
        font-weight: normal;
        text-decoration: underline;
    }
}

.extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: $ACCENT;
    border-radius: 5px;
    color: #fff;
    margin: 5px 0 2px 0;
    font-weight: normal;
    text-decoration: underline;
}

.extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    list-style: none;
    
    li {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        margin: 2px;
        border: 1px solid $BACKGROUND_BORDER;

        .check {
            color: #1dbd18;
        }

        .cross {
            color: #bd1818;
        }
    }
}

.price {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #e95e0d;
}

.booking {
    width: 25%;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: $ACCENT;
    color: #fff;
    border-radius: 5px;
}

.booking:hover {
    cursor: pointer;
    opacity: .8;
}