@import '../../../shared/styles/vars.scss';

.form {
    width: 40%;
    margin: 20px auto;
    padding: 15px;
    align-items: center;

    .icon {
        font-size: 6em;
        margin: .1em 0;
    }

    .input {
        display: flex;
        width: 90%;
        margin: auto;
    }

    .button {
        margin: 10px auto;
    }

    .register {
        margin: 5px 0;
    }

    .alert {
        background-color: $WARN;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
    }
}