.nav {
    background-color: #1c6580;//#16ae8d;//#1e7594;//#1983a9;//#209bc7;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    .title {
        font-size: 2em;
        padding: 10px;
        font-weight: 500;
    }

    .hostel {
        padding: 10px;
        a {
            padding-right: 5px;
            text-decoration: none;
        }
    }
    .hostel:hover {
        cursor: pointer;
        opacity: .6;
    }

    .options {
        .list {
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            
            li {
                padding: 10px;
                a {
                    padding-right: 5px;
                    text-decoration: none;
                }
            }
            li:hover {
                cursor: pointer;
                opacity: .6;
            }
        }
    }
}