<header class="header">
    <nav class="nav flex-row">
        <h1 class="title">Hotel</h1>
        <div class="hostel">
            <a [routerLink]="">Hospedarse</a>
            <fa-icon [icon]="faHouse"></fa-icon>
        </div>
        <div class="options">
            <ul class="list flex-row">
                <li class="login">
                    <a [routerLink]="">Iniciar sesión</a>
                    <fa-icon [icon]="faRightToBracket"></fa-icon>
                </li>
                <li class="welcome">
                    <a [routerLink]="">Bienvenido, Nombre usuario</a>
                </li>
                <li class="profile">
                    <a [routerLink]="">Perfil</a>
                    <fa-icon [icon]="faUser"></fa-icon>
                </li>
                <li class="logout">
                    <a [routerLink]="">Cerrar sesión</a>
                    <fa-icon [icon]="faRightFromBracket"></fa-icon>
                </li>
            </ul>
        </div>
    </nav>
</header>