@import "../../../shared/styles/vars.scss";

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 50px;
}

.days {
    display: block;
    background-color: $WARN;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.button {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    background-color: $ACCENT;
    color: #fff;
    border-radius: 5px;
}

.booking {
    width: 25%;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: $ACCENT;
    color: #fff;
    border-radius: 5px;
}

.button:hover, .booking:hover {
    cursor: pointer;
    opacity: .8;
}

.carousel {
    width: 80%;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: all .5s ease-in;
}

.card {
    min-width: 23.2%;
    max-width: 25%;
    margin: 10px;
    background-color: #fff;
}

img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.left, .right {
    position: absolute;
    top: 45%;
    color: #ccc;
    font-size: 36px;
    padding: 0 10px;
}

.left:hover, .right:hover {
    cursor: pointer;
    opacity: .8;
}

.left {
    left: 15px;
}

.right {
    right: 15px;
}

.body {
    margin: 15px 5px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
}

span {
    margin-left: 5px;
}

.extras {
    box-sizing: border-box;
    background-color: $ACCENT;
    color: #fff;
    padding: 5px;
    width: 100%;
}