@import '../../../shared/styles/vars.scss';

.toolbar {
    width: 60%;
    margin: 0 auto 20px auto;
    
    .mat-toolbar-row {
        height: 50px;
    }

    .ope {
        padding: 10px;
    }

    .ope:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .title {
        font-size: 24px;
        text-decoration: underline;
    }
    
    .flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}

.mat-toolbar-multiple-rows {
    min-height: 0px;
}


.form {
    width: 40%;
    margin: 20px auto;
    padding: 15px;
    align-items: center;

    .icon {
        font-size: 6em;
        margin: .1em 0;
    }

    .input {
        display: flex;
        width: 100%;
        margin: auto;
    }

    .button {
        margin: 10px auto;
    }

    .alert {
        background-color: $WARN;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
    }
}